<footer class="hidden-print">
   <div class="container" id="whoami">
      <hr>
      <div class="row">
      <div class="col-sm-12 mb-4">
        {{ partial "mailchimp_footer.html" . }}
      </div>
      </div>
      <div class="card p-2 bg-light mx-0"><div class="card-body small p-0">
      <div class="row">
        <div class="col-sm-2">
            <p>
                <img width="100%" class="img-thumbnail" src="/headshot.jpg"/>
            </p>
        </div>
        <div class="col-sm-5">
              <h4>About Tim Hopper:</h4>
              <p>I am a data scientist and software developer in cybersecurity. I enjoy math, computing, conversation, reading, hiking, photography, philosophy of science, and more.</p>
              <div>
                   <!-- <a class="btn btn-outline-dark bg-white btn-sm" href="https://tdhopper.com/">more about me</a> -->
                   <a class="btn btn-outline-dark bg-white btn-sm" href="https://tdhopper.com/resume">résumé</a>
                   <a class="btn btn-outline-dark bg-white btn-sm" href="tel:-919-473-3145"><i class="fa fa-phone-square" aria-hidden="true"></i></a>
                   <a class="btn btn-outline-dark bg-white btn-sm" href="mailto:tdhopper@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
              </div>
        </div>
        <div class="col-sm-3">
          <h4>Personal Projects:</h4>
          <ul class="list-unstyled">
              <li><a href="http://pythonplot.com" target="_new"><i class='fa fa-external-link'></i> Python Plotting for EDA</a></li>
              <li><a href="https://github.com/tdhopper/notes-on-dirichlet-processes/blob/master/README.md" target="_new"><i class='fa fa-external-link'></i> Notes on Dirichlet Processes</a></li>
              <li><a href="http://shouldigetaphd.com/" target="_new"><i class='fa fa-external-link'></i> Should I Get a Phd?</a></li>
              <li><a href="http://doyouplayball.tumblr.com/" target="_new"><i class='fa fa-external-link'></i> Do You Play Ball?</a></li>
              <li><a href="http://www.ultratall-ultralight.com" target="_new"><i class='fa fa-external-link'></i> Ultralight Backpacking for the Ultratall</a></li>
          </ul>
        </div>
        <div class="col-sm-2">

              <h4>Social Media:</h4>
              <ul class="list-unstyled">

                <li><a href="http://www.twitter.com/tdhopper"><i class="fa fa-twitter-square fa-lg"></i> Twitter</a></li>
                <li><a href="http://www.github.com/tdhopper"><i class="fa fa-github-square fa-lg"></i> Github</a></li>
                <li><a href="http://www.linkedin.com/in/tdhopper"><i class="fa fa-linkedin-square fa-lg"></i> Linkedin</a></li>
                <li><a href="https://www.flickr.com/photos/tdhopper"><i class="fa fa-flickr fa-lg"></i> Flickr</a></li>
                <li><a href="https://www.instagram.com/tdhopper"><i class="fa fa-instagram fa-lg"></i> Instagram</a></li>

              </ul>
        </div>
      </div>
      </div>
    </div>
      <div class="row small mt-4">
         <div class="col-sm-10">&copy; 2017 Tim Hopper
            &middot; Powered by <a href="https://github.com/alanorth/hugo-theme-bootstrap4-blog" target="_blank">hugo-theme-bootstrap4-blog</a>,
            <a href="http://gohugo.io/" target="_blank">Hugo</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>         </div>
         <div class="col-sm-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
