<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">tdhopper.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Blog
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/#portfolio">Portfolio</a>
            <a class="dropdown-item" href="/#featured">Featured</a>
            <a class="dropdown-item" href="/#recent">Recent</a>
            <a class="dropdown-item" href="/#archive">Archive</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About Me
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#whoami">Who Am I?</a>
            <a class="dropdown-item" href="/resume">Resume</a>
            <a class="dropdown-item" href="/talks">Talks</a>
          </div>
        </li>
      </ul>
      <ul class="ml-auto navbar-nav">
        <li class="nav-item"><a href="http://www.twitter.com/tdhopper" title="Twitter" class="nav-link">
        <i class="fa fa-twitter-square fa-lg"></i>
        <span class="d-lg-none">Twitter</span></a></li>
        <li class="nav-item"><a href="http://www.github.com/tdhopper" title="Github" class="nav-link">
        <i class="fa fa-github-square fa-lg"></i>
        <span class="d-lg-none">Github</span></a></li>
        <li class="nav-item"><a href="http://www.linkedin.com/in/tdhopper" title="Linkedin" class="nav-link">
        <i class="fa fa-linkedin-square fa-lg"></i>
        <span class="d-lg-none">Linkedin</span></a></li>
        <li class="nav-item"><a href="https://www.flickr.com/photos/tdhopper" title="Flickr" class="nav-link">
        <i class="fa fa-flickr fa-lg"></i>
        <span class="d-lg-none">Flickr</span></a></li>
        <li class="nav-item"><a href="https://www.instagram.com/tdhopper" title="Instagram" class="nav-link">
        <i class="fa fa-instagram fa-lg"></i>
        <span class="d-lg-none">Instagram</span></a></li>
      </ul>
    </div>
  </div>
</nav>
