<div class="container mb-4" id="featured">
<h3>My projects, talks, and interviews</h3>
  <hr>
  <div class="row mb-2">
    <div class="col-12 btn-group d-flex justify-content-center">
      <button class="btn btn-outline-secondary btn-sm active" id="all">All</button>
      {{ range .Site.Params.EXTERNAL_TAGS }}
      <button class="btn btn-outline-secondary btn-sm" id="{{ . | lower }}">{{ . | upper }}</button>
      {{ end }}
    </div>
  </div>
  <div class="row" id="portfolio-grid">
  {{ range (where .Data.Pages "Params.portfolio" true )}}
     {{ if (isset .Params "external") }}
        {{ .Scratch.Set "url" .Params.external }}
        {{ .Scratch.Set "target" "_blank" }}
      {{ else if (isset .Params "youtube")}}
         {{ .Scratch.Set "url" (printf "https://www.youtube.com/watch?v=%s" .Params.youtube) }}
         {{ .Scratch.Set "target" "_blank" }}
      {{ else }}
        {{ .Scratch.Set "url" .Permalink }}
        {{ .Scratch.Set "target" "_self" }}
      {{ end }}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-1 mb-2 px-1 {{ range .Params.Tags }}{{ . | lower }} {{ end }}">
      <div class="card portfolio-card">
          <a href="{{ .Scratch.Get "url" }}" target="{{ .Scratch.Get "target" }}">
            <img class="card-img-top" src="{{ .Params.thumbnail }}"></a>
          <div class="card-body">
              <a href="{{ .Scratch.Get "url" }}" target="{{ .Scratch.Get " target " }}">
                <p class="card-text small">{{ .Title }}</p>
              </a>
          </div>
      </div>
    </div>
  {{ end }}
  </div>
</div>
